<div class="advantages">
    <div class="advantages__img advantages__img__free">
        <img src="img/free_shiping.png" alt="shiping">
        <div class="advantages__text-free">
            <span class="advantages__text__head">free shipping</span>
            <span class="advantages__text__small">In Order Min $200</span>
        </div>
    </div>
    <div class="advantages__img">
        <img src="img/returns.png" alt="returns">
        <div class="advantages__text-returns">
            <span class="advantages__text__head">30-days returns</span>
            <span class="advantages__text__small">Money Back Guarantee</span>
        </div>
    </div>
    <div class="advantages__img advantages__img__support">
        <img src="img/support.png" alt="support">
        <div class="advantages__text-support">
            <span class="advantages__text__head">24/7 support</span>
            <span class="advantages__text__small">Lifestyme Support</span>
        </div>
    </div>
</div>