<div class="slid-wrapper"><!--Это обёртка карусели, она нужна для запуска в скрипте main.js-->
  <div class="slid">
      <img src="images/slaid.jpg" alt="slaid">
      <div class="slid__text">
        <span class="slid__text-head">mid-season</span>
        <span class="slid__text-sale">sale</span>
        <span class="slid__text-upto">up to</span>
        <span class="slid__text-off">50% off</span>
      </div>
  </div>
  <div class="slid">
    <img src="images/slaid.jpg" alt="slaid">
  </div>
  <div class="slid">
    <img src="images/slaid.jpg" alt="slaid">
  </div>
  <div class="slid">
    <img src="images/slaid.jpg" alt="slaid">
  </div>
</div>