<section class="brand">
    <h2 class="headers-h2">Our Brand</h2>
    <div class="brand-img">
        <img src="images/bakery.png" alt="bakery">
        <img src="images/lavalier.png" alt="lavalier">
        <img src="images/harvest.png" alt="harvest">
        <img src="images/landlock.png" alt="landlock">
        <img src="images/spectrum.png" alt="spectrum">
        <img src="images/home_energy.png" alt="home_energy">
    </div>
</section>
<section class="customers">
    <h2 class="headers-h2">Customers Says</h2>
    <div class="customers-wrapper">
        <div class="customers-block">
            <div class="customers-women">
                <div class="customers-img">
                    <img src="images/sandra.png" alt="Sandra Dewi">
                </div>
                <div class="customers__left-text">
                    <p class="customers__text">Sed ut perspiciatis<br>
                        unde omnis iste natus error sit<br>
                        voluptatem accusantium doloremque
                    </p>
                    <span class="customers__name">Sandra Dewi</span>
                    <span class="customers__profession">FASHION STYLISH</span>
                </div>
            </div>
            <div class="customers__man">
                <div class="customers__men-img">
                    <img src="images/shaheer.png" alt="Sandra Dewi">
                </div>
                <div class="customers__right-text">
                    <div class="customers__text-men">
                        <p class="customers__text">Sed ut perspiciatis<br>
                            unde omnis iste natus error sit<br>
                            voluptatem accusantium doloremque
                        </p>
                    </div>
                    <span class="customers__name">Shaheer Sheikh</span>
                    <span class="customers__profession">DESIGNER</span>
                </div>
            </div>
        </div>
    </div>
</section>