<footer class="footer">
    <div class="footer-general footer-line">
        <div class="footer-shops footer-block">
            <h3 class="footer-shops__header footer-headers">shops</h3>
            <label class="footer__nav-button" for="footer__nav-button_box">shops</label>
            <input type="checkbox" class="footer__nav-button_box" id="footer__nav-button_box">
            <ul class="footer-shops__nav footer-navs footer__mob-navs">
                <li><a href="#">New In</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Bags & Accessories</a></li>
                <li><a href="#">Top Brands</a></li>
                <li><a href="#">Sale & Special Offers</a></li>
                <li><a href="#">Lookbook</a></li>
            </ul>
        </div>
        <div class="footer-information footer-block">
            <h3 class="footer-information__header footer-headers">information</h3>
            <label class="footer__nav-button" for="footer__nav-button_box2">information</label>
            <input type="checkbox" class="footer__nav-button_box" id="footer__nav-button_box2">
            <ul class="footer-shops__nav footer-navs footer__mob-navs">
                <li><a href="#">About us</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">New Collection</a></li>
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#">Manufacturers</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Terms & condition</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-service footer-block">
            <h3 class="footer-service__header footer-headers">customer service</h3>
            <label class="footer__nav-button" for="footer__nav-button_box3">customer service</label>
            <input type="checkbox" class="footer__nav-button_box" id="footer__nav-button_box3">
            <ul class="footer-shops__nav footer-navs footer__mob-navs">
                <li><a href="#">Search Terms</a></li>
                <li><a href="#">Advanced Search</a></li>
                <li><a href="#">Advanced Search</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">RSS</a></li>
                <li><a href="#">Help & FAQs</a></li>
                <li><a href="#">Consultant</a></li>
                <li><a href="#">Store Locations</a></li>
            </ul>
        </div>
        <div class="footer-connected footer-block">
            <h3 class="footer-connected__header footer-headers">stay connected</h3>
            <div class="footer-connected__social-button">
                <a href="#">
                    <img src="img/FB.png" alt="FB">
                </a>
                <a href="#">
                    <img src="img/Twitter.png" alt="Twitter">
                </a>
                <a href="#">
                    <img src="img/Instagram.png" alt="Instagram">
                </a>
                <a href="#">
                    <img src="img/Pinterest.png" alt="Pinterest">
                </a>
                <a href="#">
                    <img src="img/feed.png" alt="feed">
                </a>
            </div>
            <h3 class="footer-subscribe footer-headers">subscribe <span>in</span>  our  news  letter</h3>
            <form action="search" method="get" class="footer__form-search">
                <input name="s" placeholder="Enter Your Email Address" type="search" class="footer__form-search__input">
                <button type="submit" class="footer__form-search__button">
                    SUBSCRIBE
                </button>
            </form>
        </div>
    </div>
    <div class="footer-text">
        <small class="footer-copyright">
        &copy; <time datetime="2018">2018</time>
        Shopia  Fashion Store Shopify.  <br>
        All Rights Reserved. Ecommerce Software Shopify.<br>
        Designet by Maccolabs.com
    </small>
    </div>
    <div class="footer-iconcash">
        <img src="img/visa.png" alt="visa">
        <img src="img/Mastercard.png" alt="mastercard">
        <img src="img/american-express.png" alt="american-express">
        <img src="img/Discover.png" alt="discover">
    </div>
    <a href="#" title="button-up" class="footer__button-up">
        <img src="img/Arrow.png" alt="button-up">
    </a>
</footer>
</body>
</html>