<div class="handpicked">
    <h2 class="headers-h2">HandPicked</h2>
    <div class="handpicked_wrapper">
        <div class="handpicked_left">
            <img class="handpicked_img" src="images/boots.jpg" alt="boots">
            <img class="handpicked_bottom handpicked_img" src="images/bracelet.jpg" alt="bracelet">
        </div>
        <div class="handpicked_center">
            <img class="handpicked_img" src="images/paris-hilton.jpg" alt="paris-hilton">
        </div>
        <div class="handpicked_right">
            <img class="handpicked_img" src="images/lace.jpg" alt="lace">
            <img class="handpicked_bottom handpicked_img" src="images/trinket.jpg" alt="trinket">
        </div>
    </div>
</div>
