<!DOCTYPE html>
<html lang="us">
<head>
    <meta charset="UTF-8">
    <title>Title of page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,address=no">
    <meta name="theme-color" content="#4285f4">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/main.js"></script>
<body>
<header class="header">
    <div class="header__top-line">
        <address class="header__top-line__phone">
            <svg class="header__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="img/svg/svg-symbols.svg#phone"></use>
            </svg>
            <span class="header__top-line__phone-number">Call +001 555 801</span>
        </address>
        <div class="header__top-line__nav header__top-line__mob-nav">
            <a href="#">WELCOME MSG!</a>
            <a href="#">MY ACCOUNT</a>
            <a href="#">MY WHISTLIST</a>
            <a href="#">LOGIN</a>
        </div>
        <img class="header__top-line__mob-btn" id="nav" src="img/menu-btn.png" alt="menu-btn" onclick="openMenu()">
    </div>
    <div class="header__general">
        <nav class="header__general__nav">
            <a href="#">Home</a>
            <a href="#">Gallery</a>
            <a href="#">Categories</a>
            <a href="#">Pages</a>
        </nav>
        <div class="header__general__logo">
            <h1>Shophia</h1>
        </div>
        <div class="header__general__social">
            <div class="header__general__social-button">
                <img src="img/fasebook.png" alt="fasebook_head">
                <img src="img/twitter_head.png" alt="twitter_head">
                <img src="img/pinterest_head.png" alt="pinterest_head">
                <img src="img/instagram_head.png" alt="instagram_head">
            </div>
            <div class="header__general__button">
                <a>RUPIAH</a>
            </div>
        </div>
    </div>
</header>