.slid-wrapper{
    position: relative;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: bold;
}

.slid__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    position: absolute;
    top: 10%;
    left: 40%;
}

.slid__text-head{
    color: #f2f2f2;
    margin: 15px 30px;
    font-size: 1.2em;
}

.slid__text-sale{
    color: #000;
    font-size: 3.5em;
}

.slid__text-upto{
    color: #f2f2f2;
    font-size: 1.5em;
    margin-top: 10px;
}


.slid__text-upto:before{
    content: url('../img/decor_left.png');
}

.slid__text-upto:after{
    content: url('../img/decor_right.png');
}

.slid__text-off{
    color: #000;
    font-size: 1.4em;
    margin: 10px 0;
}