@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/latoregular.woff2') format('woff2'),
    url('../fonts/lato/latoregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/latobold.woff2') format('woff2'),
    url('../fonts/lato/latobold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/latoitalic.woff2') format('woff2'),
    url('../fonts/lato/latoitalic.woff') format('woff');
    font-weight: italic;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay-bolditalic.woff2') format('woff2'),
    url('../fonts/playfairdisplay-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Krinkes Decor PERSONAL USE';
    src: url('../fonts/Krinkes/KrinkesDecorPERSONAL.ttf') format('ttf'),
    url('../fonts/Krinkes/KrinkesDecorPERSONAL.ttf') format('ttf');
    font-weight: italic;
    font-style: normal;
    font-display: swap;
}