.handpicked_wrapper{
    display: grid;
    grid-template-columns: 1fr 460px 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 400px 400px;
    grid-row-gap: 20px;
    margin-bottom: 80px;
}

.handpicked_center{
    grid-row: span 2;
}

.handpicked_bottom{
    margin-top: 20px;
}

.handpicked_img{
    outline: 2px solid #f2f2f2;
    outline-offset: -30px ;
}