:root {
    --color-primary: #01A9DB;
    --color-secondary: #828282;
    --color-accent: #FFA500;
    --color-error: #FF5252;
    --color-info: #2196F3;
    --color-success: #4CAF50;
    --color-warning: #FFC107;
}

